body {
    background-color:none;
    height: 1400px;
}

h1{
    position: absolute;
    left: 620px;
}

/* This is the first section for the square moving */



/*These lines are used to create box that will open up for the logo*/

#AnimationSquare {
  

    width: 453.2px;
    height: 8px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 124.8px;
    right: 456px;
}



#AnimationSquare-2 {


    width: 453px;
    height: 8px;
    background-color: rgb(225, 41, 41);
    position: absolute;
    top: 715px;
    right: 456px;
}

#AnimationSquare-3 {
   


    width: 597px;
    height: 8px;
    background-color: rgb(213, 119, 32);
    position: absolute;
    top: 420px;
    right: 160px;
    transform: rotate(90deg);
}

#AnimationSquare-4 {


    width: 598px;
    height: 8px;
    background-color: rgb(62, 232, 40);
    position: absolute;
    bottom: 351px;
    right: 606px;
    transform: rotate(270deg);

}
/*These lines are used to create box that will open up for the logo*/

audio{
   position: absolute;
   top: 500px;;
   left: 1250px;
}

.move-up{
    margin-top: 3%;
    margin-left: 40%;
    margin-right: 5%;
    /*This is used to position the form e.g username and password form so essteinaly everything in the login box*/;
}



#img-size{
    transform: scale(0.2,0.2);
}

/*Animation section*/
@keyframes ChangeNOW {

}


/*Animation section*/
