body {
    background-color: rgb(214, 236, 255);
}

/* This is the first section for the square moving */

#Move-Out-The-Square {
    animation: P-Pushing-out-the-box 2s alternate;
    animation-iteration-count: 1;
    position: absolute;
    left: 5px;
    top: 120px;
    color: rebeccapurple;
    animation-fill-mode: backwards;
}

#AnimationSquare {
    border: 1.2px solid black;
    width: 420px;
    height: 300px;
    position: absolute;
    top: 230px;
    left: 500px;
    background-color: white;
    animation: move-forward 2s;
    animation-iteration-count: 1;
    animation-delay: 3s;
    backface-visibility: hidden;
}

@keyframes P-Pushing-out-the-box {
    0% { left: 5px; }
    20% { left: 285px; }
    100%{left: 5px;}

}

@keyframes move-forward {
    0% { left: 500px; }
    50% { left: 650px; }
    100%{ left: 500px;}
}
